.powerprofile {
    background: transparent;
    >box {
        border-radius: 16px;
        background-color: unquote("@theme_bg_color");
    }
    label {
        padding: 5px 10px;
    }
    button {
        border-radius: 0px 16px 16px 0px;
    }
}
